<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <div class="contenido">
        <header>
            <div th:replace="~{fragments/commonHeader.html :: body}"></div>
            <h1>MERCADO BLANCO</h1>
        </header>
        <div id="contenidoLista" th:each="product : ${db}" th:object="${product}">
            <div id="productosLista">
                <div id="textoList">

                    <span th:text="*{name}" class="nombre"></span>

                    <br><br>
                    <b class="precios" th:text="'(' + *{precio} + ' €)'"></b>

                    <br><br>
                    <button class="boton">
                    <a th:href="*{img}" th:text="Imagen" class="url"></a> </button>

                    <br><br>
                    <form th:action="@{'/addOrder?id=' + *{id}}" method="post">
                        <button class="boton" type="submit"> Añadir al carro</button>
                        <!-- <input type="submit" value="Add to my Order" /> -->
                    </form>

                    <form th:action="@{'/add?id=' + *{getID()}}" method="post">
                        <button class="boton" type="submit">
                            Añadir a la lista de deseos
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>