<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <div class="contenido">
        <header>
            <div th:replace="~{fragments/commonHeader.html :: body}"></div>
            <h1>Carrito</h1>
        </header>
        <div id="contenidoLista2" th:each="orderProduct : ${orderProducts}" th:object="${orderProduct}">
            <div id="productosLista2">
                <div id="textoList">

                    <span th:text="'ID: ' + *{productId}" class="nombreOrder"></span>

                    <br><br>
                    <b class="npedidos" th:text="'(Numero de pedidos : ' + *{quantity} + ' ud.)'"></b>

                    <form th:action="@{'/removeOrder?id=' + *{id}}" method="post">
                        <button class="botonOrder" type="submit">Eliminar producto del carrito</button>
                    </form>

                    <form th:action="@{'/home'}">
                        <button class="botonOrder" type="submit">Editar pedido</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>